services:
  k-webserver:
    image: thesheepcat/k-webserver:latest
    restart: on-failure
    stop_grace_period: 1m
    environment:
      APP_KASPA_DB_ADDRESS: ${APP_KASPA_DB_ADDRESS:-kaspa_db}
      APP_KASPA_DB_PORT: ${APP_KASPA_DB_PORT:-5432}
    command: >
      --db-host ${APP_KASPA_DB_ADDRESS:-kaspa_db}
      --db-port ${APP_KASPA_DB_PORT:-5432}
      --db-name ${APP_KASPA_DB_NAME}
      --db-user ${APP_KASPA_DB_USER}
      --db-password ${APP_KASPA_DB_PASSWORD}
      --bind-address 0.0.0.0:${APP_K_SOCIAL_KWEBSERVER_PORT:-3001}
    ports:
      - "${APP_K_SOCIAL_KWEBSERVER_PORT:-3001}:${APP_K_SOCIAL_KWEBSERVER_PORT:-3001}"

  web:
    image: dennitzo/k-social-web:latest
    restart: on-failure
    stop_grace_period: 1m
    depends_on:
      - k-webserver
    environment:
      APP_K_SOCIAL_PORT: 5173
      APP_K_SOCIAL_KWEBSERVER_API_URI: http://k-webserver:${APP_K_SOCIAL_KWEBSERVER_PORT:-3001}
    ports:
      - "5173:5173"
