services:
  app_proxy:
    environment:
      APP_HOST: frontend
      APP_PORT: 19111
    depends_on:
      - frontend

  kaspa_db:
    image: postgres:17-alpine
    restart: on-failure
    stop_grace_period: 1m
    shm_size: 4G
    volumes:
      - ${APP_DATA_DIR}/data/db:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${APP_KASPA_DB_USER}
      POSTGRES_PASSWORD: ${APP_KASPA_DB_PASSWORD}
      POSTGRES_DB: ${APP_KASPA_DB_NAME}
    ports:
      - "${APP_KASPA_DB_PORT}:${APP_KASPA_DB_PORT}"

  simply_kaspa_indexer:
    image: supertypo/simply-kaspa-indexer:latest
    restart: on-failure
    stop_grace_period: 1m
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: >
      -u
      -s ws://${APP_KASPA_NODE_ADDRESS:-host.docker.internal}:${APP_KASPA_NODE_PORT:-17110}
      -d postgresql://${APP_KASPA_DB_USER}:${APP_KASPA_DB_PASSWORD}@${APP_KASPA_DB_ADDRESS}:${APP_KASPA_DB_PORT}/${APP_KASPA_DB_NAME}
      --prune-db
      --retention=7d
      --exclude-fields=tx_out_script_public_key_address
    depends_on:
      - kaspa_db

  k-transaction-processor:
    image: thesheepcat/k-transaction-processor:latest
    restart: on-failure
    stop_grace_period: 1m
    command: >
      --upgrade-db
      --network ${APP_KASPA_NETWORK}
      --db-host ${APP_KASPA_DB_ADDRESS}
      --db-port ${APP_KASPA_DB_PORT}
      --db-name ${APP_KASPA_DB_NAME}
      --db-user ${APP_KASPA_DB_USER}
      --db-password ${APP_KASPA_DB_PASSWORD}
      --workers 4
    depends_on:
      - kaspa_db
      - simply_kaspa_indexer

  indexer-ui-api:
    image: dennitzo/kaspa-database-api:0.3.8
    restart: on-failure
    stop_grace_period: 1m
    depends_on:
      - kaspa_db
    environment:
      APP_KASPA_DB_ADDRESS: ${APP_KASPA_DB_ADDRESS}
      APP_KASPA_DB_PORT: ${APP_KASPA_DB_PORT}
      APP_KASPA_DB_USER: ${APP_KASPA_DB_USER}
      APP_KASPA_DB_PASSWORD: ${APP_KASPA_DB_PASSWORD}
      APP_KASPA_DB_NAME: ${APP_KASPA_DB_NAME}

  frontend:
    image: dennitzo/kaspa-database-ui:0.3.8
    restart: on-failure
    stop_grace_period: 1m
    depends_on:
      - indexer-ui-api
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:19111/ >/dev/null 2>&1 || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 5
