services:
  k-webserver:
    image: thesheepcat/k-webserver:latest
    restart: on-failure
    command: >
      --db-host ${APP_KASPA_DB_ADDRESS:-host.docker.internal}
      --db-port ${APP_KASPA_DB_PORT:-5432}
      --db-name ${APP_KASPA_DB_NAME}
      --db-user ${APP_KASPA_DB_USER}
      --db-password ${APP_KASPA_DB_PASSWORD}
      --bind-address 0.0.0.0:${APP_K_SOCIAL_KWEBSERVER_PORT:-8081}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "${APP_K_SOCIAL_KWEBSERVER_PORT:-8081}:${APP_K_SOCIAL_KWEBSERVER_PORT:-8081}"

  web:
    build: .
    restart: on-failure
    depends_on:
      - k-webserver
    environment:
      APP_K_SOCIAL_PORT: ${APP_K_SOCIAL_PORT:-8090}
      APP_K_SOCIAL_KWEBSERVER_API_URI: http://k-webserver:${APP_K_SOCIAL_KWEBSERVER_PORT:-8081}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "${APP_K_SOCIAL_PORT:-8090}:${APP_K_SOCIAL_PORT:-8090}"
    volumes:
      - ./:/app
      - k_social_node_modules:/app/node_modules
    command: >
      sh -lc "npm install --legacy-peer-deps && npm run dev -- --host 0.0.0.0 --port ${APP_K_SOCIAL_PORT:-8090}"

volumes:
  k_social_node_modules:
