version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: kaspa-indexer_kaspa_indexer_ui_1
      APP_PORT: 8080

  kaspa_db:
    image: postgres:17-alpine
    restart: on-failure
    stop_grace_period: 1m
    shm_size: 4G
    volumes:
      - ${APP_DATA_DIR}/data/db:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${APP_KASPA_DB_USER}
      POSTGRES_PASSWORD: ${APP_KASPA_DB_PASSWORD}
      POSTGRES_DB: ${APP_KASPA_DB_NAME}
    ports:
      - "${APP_KASPA_DB_PORT}:${APP_KASPA_DB_PORT}"
    networks:
      default:
        ipv4_address: ${APP_KASPA_DB_ADDRESS}

  simply_kaspa_indexer:
    image: supertypo/simply-kaspa-indexer:latest
    restart: on-failure
    stop_grace_period: 1m
    entrypoint: /bin/sh
    command:
      - -c
      - >-
        simply-kaspa-indexer -u -s ws://${APP_KASPA_NODE_ADDRESS}:${APP_KASPA_NODE_PORT}
        -d postgresql://${APP_KASPA_DB_USER}:${APP_KASPA_DB_PASSWORD}@${APP_KASPA_DB_ADDRESS}:${APP_KASPA_DB_PORT}/${APP_KASPA_DB_NAME}
        --retention=7d --exclude-fields=tx_out_script_public_key_address
        2>&1 | tee -a /logs/simply-kaspa-indexer.log
    depends_on:
      - kaspa_db
    volumes:
      - ${APP_DATA_DIR}/data/logs:/logs
    networks:
      default:
        ipv4_address: ${APP_KASPA_INDEXER_ADDRESS}

  kaspa_indexer_ui:
    image: nginx:1.27-alpine
    restart: on-failure
    depends_on:
      - simply_kaspa_indexer
    volumes:
      - ./ui/public:/usr/share/nginx/html:ro
      - ${APP_DATA_DIR}/data/logs:/usr/share/nginx/html/logs:ro
    networks:
      default:
        ipv4_address: 10.21.24.13

  k-transaction-processor:
    image: thesheepcat/k-transaction-processor:latest
    restart: on-failure
    stop_grace_period: 1m
    command: >
      --upgrade-db
      --network ${APP_KASPA_NETWORK}
      --db-host ${APP_KASPA_DB_ADDRESS}
      --db-port ${APP_KASPA_DB_PORT}
      --db-name ${APP_KASPA_DB_NAME}
      --db-user ${APP_KASPA_DB_USER}
      --db-password ${APP_KASPA_DB_PASSWORD}
      --workers 4
    depends_on:
      - kaspa_db
      - simply_kaspa_indexer
    networks:
      default:
        ipv4_address: ${APP_KASPA_PROCESSOR_ADDRESS}
