services:
  app_proxy:
    environment:
      APP_HOST: kaspa-explorer_web_1
      APP_PORT: 8080

  kaspa_rest_server:
    image: kaspanet/kaspa-rest-server:latest
    restart: on-failure
    stop_grace_period: 1m
    environment:
      KASPAD_WRPC_URL: ws://${APP_KASPA_NODE_ADDRESS}:${APP_KASPA_NODE_PORT}
      # The kaspa_db exports now come from the kaspa-database app so Explorer and K-webserver stay aligned.
      SQL_URI: postgresql+asyncpg://${APP_KASPA_DB_USER}:${APP_KASPA_DB_PASSWORD}@${APP_KASPA_DB_ADDRESS}:${APP_KASPA_DB_PORT}/${APP_KASPA_DB_NAME}
      USE_SCRIPT_FOR_ADDRESS: "true"
    networks:
      default:
        ipv4_address: ${APP_KASPA_REST_SERVER_ADDRESS}

  simply_kaspa_socket_server:
    image: supertypo/simply-kaspa-socket-server:unstable
    restart: on-failure
    stop_grace_period: 1m
    command: -x 20 -s ws://${APP_KASPA_NODE_ADDRESS}:${APP_KASPA_NODE_PORT}
    networks:
      default:
        ipv4_address: ${APP_KASPA_SOCKET_SERVER_ADDRESS}

  web:
    image: supertypo/kaspa-explorer:latest
    restart: on-failure
    stop_grace_period: 1m
    environment:
      API_URI: http://${APP_KASPA_REST_SERVER_ADDRESS}:8000
      API_WS_URI: ws://${APP_KASPA_SOCKET_SERVER_ADDRESS}:8000
    depends_on:
      - kaspa_rest_server
      - simply_kaspa_socket_server
    networks:
      default:
        ipv4_address: ${APP_KASPA_EXPLORER_UI_ADDRESS}
