services:
  app_proxy:
    environment:
      APP_HOST: web_proxy
      APP_PORT: 8080

  kaspa_rest_server:
    image: kaspanet/kaspa-rest-server:latest
    restart: on-failure
    stop_grace_period: 1m
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8091:8000"
    environment:
      KASPAD_WRPC_URL: ws://${APP_KASPA_NODE_ADDRESS}:${APP_KASPA_NODE_PORT}
      # The kaspa_db exports now come from the kaspa-database app so Explorer and K-webserver stay aligned.
      SQL_URI: postgresql+asyncpg://${APP_KASPA_DB_USER}:${APP_KASPA_DB_PASSWORD}@${APP_KASPA_DB_ADDRESS}:${APP_KASPA_DB_PORT}/${APP_KASPA_DB_NAME}
      USE_SCRIPT_FOR_ADDRESS: "true"

  simply_kaspa_socket_server:
    image: supertypo/simply-kaspa-socket-server:unstable
    restart: on-failure
    stop_grace_period: 1m
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8092:8000"
    command: -x 20 -s ws://${APP_KASPA_NODE_ADDRESS}:${APP_KASPA_NODE_PORT}

  web:
    image: dennitzo/kaspa-explorer-ng:latest
    restart: on-failure
    stop_grace_period: 1m
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      HOST: 0.0.0.0
      PORT: 8080
    depends_on:
      - kaspa_rest_server
      - simply_kaspa_socket_server

  web_proxy:
    image: nginx:1.27.4-alpine
    restart: on-failure
    stop_grace_period: 1m
    depends_on:
      - web
      - kaspa_rest_server
      - simply_kaspa_socket_server
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
